@page "/exercises"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using SmartWorkout.DataAccess
@using SmartWorkout.DataAccess.Entities
@using SmartWorkout.DataAccess.IRepository
@using SmartWorkout.DataAccess.Repository
@inject IGenericRepository<Exercise> ExerciseRepo;
<h3>Exercises</h3>
@if (Exercise == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach(Exercise e in Exercise)
			{
			<tr>
				<th>@e.Id</th>
				<th>@e.Name</th>
			</tr>
			}
		</tbody>
	</table>
}
@code {
	private DataAccess.Entities.Exercise[] Exercise;
	protected override async Task OnInitializedAsync()
	{
		Exercise= ExerciseRepo.GetAll().ToArray();
	}



}
