@page "/client"

<h3 class="mb-5">Add Client</h3>

<form class="">
	<div class="form-group mb-3">
		<label for="first-name">First Name</label>
		<input type="text" class="w-25 form-control" id="first-name">
	</div>
	<div class="form-group mb-3">
		<label for="last-name">Last Name</label>
		<input type="text" class=" w-25 form-control" id="last-name">
	</div>
	<div class="mb-3">
		<label>Pick your gender</label>
		<div class="d-flex">
			<div class="form-check me-3">
				<input class="form-check-input" type="radio" name="gender-male" id="gender-male" value="Male">
				<label class="form-check-label" for="gender-male">
					Male
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="gender-female" id="gender-female" value="Female">
				<label class="form-check-label" for="gender-female">
					Female
				</label>
			</div>
		</div>
	</div>
	<div class="form-group mb-3">
		<label for="weight">Weight (in kg)</label>
		<input type="number" class=" w-25 form-control" id="weight">
	</div>
	<div class="form-group mb-3">
		<label for="goal">Your Goal</label>
		<input type="text" class=" w-25 form-control" id="goal">
	</div>
</form>

@code {


}
